<hr>
<table>
		<tr>
		  <td>
			<p>Product: <%= product.name %></p>
			</td>
		</tr>
			<td><p><%= link_to "View Item", "/products/#{product.id}" %> | <%= link_to "Edit Item", "/products/#{product.id}/edit" %> | <%= link_to "Delete Item", "/products/#{product.id}", method: "delete" %> </p></td>
		<tr>
			<td><p>Description: <%= product.description %></p></td>
		</tr>
		<tr>
			<td><p>Price: $<%= product.formatted_price %></p></td>
		</tr>
</table>