<h1><p>Reviews for <%= @product.name %></p></h1>
<p>Description: <%= @product.description %></p>
<p>Price: $<%= @product.formatted_price %></p>
-------------------
<h4>Reviews from Consumers</h4>

<div id="review-list">
  <% @product.reviews.each do |review| %>
  <div class="review">
    <div class="poster">
      Posted by <%= review.user.name %> on <%=review.created_at %>
    </div>
    <p class="comment">
      <%= review.comment %>
    </p>
  </div>
        <p><%= link_to "Edit Review", "/products/#{@product.id}/reviews/#{review.id}/edit" %> | <%= link_to "Delete Review", "/products/#{@product.id}/reviews/#{review.id}", method: "delete" %></p>
        <p>-------------------</p>
      <% end %>
    </p>
</div>

<div id="review-list">
    <%= render :partial => "reviews" %>
</div>

    <% if current_user %>
  <h4>New Review</h4>

 <%= form_for [@product, @review], :remote => true do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>

<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("input[type='submit']") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create Review')
            .removeAttr('disabled');
        });
  });
</script>